*, *::before, *::after {margin:0;padding:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
HTML {font-size:100%;}
BODY {font-size:100%;}
TABLE, TBODY {width:auto;background-color:transparent;}
IMG {vertical-align:middle;border:0;}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.rht {text-align:right;}
.lft {text-align:left;}
.ctr {text-align:center;}

#opt {clear:both;position:fixed;top:10px;left:10px;width:auto;height:auto;padding:7px;z-index:1;background-color:#383838;border-radius:3px;overflow:auto;font-size:14px;display:none;color:#e8d010;font-size:12px;font-weight:normal;}
#opt .icon {color:#a09870;cursor:pointer;}
#opt .icon:hover {color:#101010;background-color:#c0d0ff;}
#opt .txt {color:#a0a0a0;cursor:default;}

#cwd {clear:both;position:fixed;top:10px;left:10px;width:auto;height:auto;padding:7px;z-index:1;background-color:#383838;border-radius:3px;overflow:auto;font-size:14px;display:block;}
#cwd IMG {vertical-align:middle;border:0;}
#cwd A {float:left;color:#e8d010;text-decoration:none;padding:0 7px 0 7px;}
#cwd A:hover {color:#101010;background-color:#fff8f0;}
#cwd .txt {float:left;color:#a0a0a0;cursor:default;}
#cwd .icon {float:left;color:#a09870;cursor:pointer;}
#cwd .icon:hover {color:#101010;background-color:#c0d0ff;}

#lst {position:absolute;top:48px;left:10px;display:none;}
#lst TH {padding:5px;cursor:pointer;white-space: nowrap;}
#lst TH:hover {background-color:#d0d8ff;}
#lst TD {padding:5px;white-space: nowrap;}
#lst IMG {vertical-align:bottom;border:0;}
#lst A {text-decoration:none;color:#0008a0;background-color:transparent;width:100%;height:100%;display:block;padding:0 5px 0 5px;} /* width:100%, display:block : for full td width */
#lst A:hover {color:white;background-color:#303030;}
#lst .msg {padding:15px;color:#481000;background-color:#f4f0ea;font-size:14px;font-weight:bold;}
#lst .loading {padding:30px;}
#lst .bdr-r {border-right:solid 1px #ffffff;}
#lst .bdr-l {border-left:solid 1px #ffffff;}
#lst .hd {color:#000000;background-color:#f0eae4;}
#lst .nm {width:auto;min-width:150px;text-align:left;}
#lst .ext {min-width:50px;text-align:right;}
#lst .sz {min-width:75px;text-align:right;}
#lst .tm {min-width:128px;text-align:right;}
#lst .icn {width:42px;min-width:42px;text-align:center;}
#lst .row {color:#101010;}
#lst .row:nth-child(odd) {background-color:#efeded;}
#lst .row:nth-child(even) {background-color:#f8f5f5;}
#lst .row:nth-child(odd):hover, #lst .row:nth-child(even):hover {background-color:#dedada;}
#lst .row_lnk {color:#101010;}
#lst .row_lnk:nth-child(odd) {background-color:#e7e7f7;}
#lst .row_lnk:nth-child(even) {background-color:#ededfa;}
#lst .row_lnk:nth-child(odd):hover, #lst .row_lnk:nth-child(even):hover {background-color:#d2d2e0;}
#lst .row_err {color:#303030;background-color:#dcdcdc;}

BODY {font-size:12px;font-weight:normal;color:black;background-color:white;padding:10px;}
